@media only screen and (max-width: 600px) {
    .image_signup {
      display:none;
    }
    .data_signup{
        margin-left:5vw !important;
        margin-right:5vw !important;
        height:76vh !important;
        margin-top:2vh !important;
    }
    .heading_signup{
        margin-left:5vw !important;
       
    }
    
    .input_signup_1{
        width:60vw !important;
        font-size: 14px !important;
    }
    .input_signup_2{
        width:60vw !important;
        font-size: 14px !important;
    }
    .otp_mobile{
        padding-left:0px !important;
        margin-left:0px !important;
    }
    .otp_gap{
        margin:3px !important;
    }
  }

.input_signup_1 {
    margin-top:10vh !important;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    width:28vw;
    float: left;
    font-size:16px;
    color:#5A5A5A
   }
   
.input_signup_1:focus {
    outline-color: white;
    
   }

   .input_signup_2 {
    margin-top:3vh !important;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    width:28vw;
    float: left;
    font-size:16px;
    color:#5A5A5A
    
   }
   
.input_signup_2:focus {
    outline-color: white;
    
   }   
   .checkbox-wrapper *,
   .checkbox-wrapper *::before,
   .checkbox-wrapper *::after {
    margin-left:5px; 
    margin-top:2vh !important;
    box-sizing: border-box;
 }
 
 .checkbox-wrapper label {
   display: block;
   width: 20px;
   height: 20px;
   cursor: pointer;
 }
 
 .checkbox-wrapper input {
   visibility: hidden;
   display: none;
 }
 
 .checkbox-wrapper input:checked ~ .checkbox {
   transform: rotate(45deg);
   width: 14px;
   margin-left: 12px;
   border-color: #409395;
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
 }
 
 .checkbox-wrapper .checkbox {
   display: block;
   width: inherit;
   height: inherit;
   border: 3px solid #409395;
   border-radius: 5px;
   transition: all 0.375s;
 }
 
/* button */
.btn {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 700;
    margin-left:1vw;
    /* padding-left:20vw; */
    color: white;
    background-image:linear-gradient(144deg,#b478de, #4cb5b5 50%,#dde4e5);;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
 

   /* background-image: linear-gradient(144deg,#b478de, #4cb5b5 50%,#dde4e5); */

.outer_box{
    
   
    box-shadow:  -9px -9px 12px #d0d0d0,
                9px 9px 12px #ffffff;
   }
